<style>
body, html {
  font-family: 'Roboto', sans-serif;
  background: url('https://wallpapercave.com/wp/wp2710613.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0; /* Make sure there are no margins causing white spaces */
  padding: 0; /* Make sure there are no paddings causing white spaces */
}
</style>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Login</h2>
        <%= form_tag sessions_path, method: :post, class: 'needs-validation' do %>
          <div class="form-group">
            <%= label :user, :user_name, 'Username', class: 'form-label' %>
            <%= text_field :user, 'user_name', class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= label :user, :password, 'Password', class: 'form-label' %>
            <%= password_field :user, 'password', class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Login', class: 'btn btn-primary btn-block' %>
          </div>
          <div class="text-center mt-2">
            <%= link_to 'Register', new_user_path, class: 'btn btn-link' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
